body {
	background-color: #294dc1;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #ffffff;
    }

li {
	line-height: normal;
	padding-bottom: 20px;
}

button{
	font-size:2em;
	border: transparent;
	background-color: transparent;
	padding: 20px;
	
}

button:hover {
	cursor:pointer;
}

#footer{
	background-color: #294dc1;
}

h1 {
	font-size: 2em;
	font-weight: 700;
}

#header {
background-color:  #0a0a2d;
}

#content {
	display: flex;
	justify-content: center;
	background-color:  #0a0a2d;
}

#rules {
	text-align: left;
	font-size: 1.1em;
	line-height: 2.3em;
	column-count: 1;
	background-color:  #0a0a2d;
}
